/*---------------------fonts------------------------
font-family: 'Bungee Shade', cursive; <--title
font-family: 'Bungee', cursive; <--headers
font-family: 'Bungee Inline', cursive; <--headers
font-family: 'Bungee Outline', cursive; <--headers
font-family: 'Bungee Hairline', cursive; <--headers
font-family: 'Cabin', sans-serif; <-- paragraphs
font-family: 'Quicksand', sans-serif; <-- paragraphs
*/

/*---------------------responsive------------------------*/
/*Viewport is the browser window size. 1vw = 1% of viewport width. 
If the viewport is 50cm wide, 1vw is 0.5cm.*/

html{
    font-size: 16px;
}

body{
    margin:0;
    position: relative;
}

#semLogo{
    top: 0;
    left: 0;
    position: fixed;
}

/* ------------------------ Welcome ------------------------*/
#header {
    /*image and backup*/
    /*background-image: url("../img/lindholmen/kuggen.jpg");*/
    background-color:#454140;
    min-height: 100%;
    min-width: 1024px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);


    /*scaling*/
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:50vw;
    width: 100%;
}

#title h1{
    color: white;/* rgb(207, 58, 58) or #2ECC71*/
    font-family: Bungee Shade;
    font-weight: bold;
    font-size: 6vw;
    text-align: left;
    margin-top: 25%;
    margin-left: 10%;
}

#logo img{
    overflow: hidden;
    max-width: 35%;
    height: auto;
    position: relative;
    margin-top: 35%;
    margin-left: 40%;
}


/* ------------------------ navbar ------------------------*/

#navBar{
    background-color: #454140c5;
}

#navItem{
    font-family: Quicksand;
    font-weight: bold;
    letter-spacing: 0.025em;
    font-size:1vw;
}

#navItem a {
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px; 
}

#navItem a:hover{
    background-color: #111;
}

/* ------------------------ CONTENT ------------------------*/

/* --------- hack --------- */
#hack{
    background-color: white;
    height: 100%;
    width: 100%;
    margin-top: 15%;
    margin-bottom:20%;
}

#hack h2 {
    font-family: Bungee Shade;
    font-size: 5vw;
    text-align: left;
    padding: 4rem 3rem 1.5rem 4rem;
}

#hack #hack-content{
    padding-right: 10%;
    margin-top: 5vw;
}

#hack-content p {
    font-family: Cabin, Quicksand;
    font-size: 1.5vw;
    margin: 2rem 0rem 4rem 0rem;
}

#hack-content img {
    max-width: 80%;
    height: auto;
    position: center;
}

/* --------- cases --------- */

/* --------- team --------- */
#team {
    background-color: #009198;
    height: 100%;
    width: 100%;
    margin: 5rem 0rem 0rem 0rem;
    padding: 5rem 0rem;
}

#teamText {
    margin-top: 5%;
    padding: 4rem 3rem 1.5rem 4rem;
}

#teamText h2 {
    font-family: Bungee;
    font-size: 5vw;
    text-align: left;
}

#teamText p {
    font-family: Cabin;
    font-size: 1.5vw;
    text-align: left;
    width: 75%;
}

#teamPic{
    margin: 2% 1%;
}


#teamPic img {
    max-width: auto;
    height: 10vw;
    border-radius: 50%;
}

#teamPicNames {
    font-weight: bold;
    color: #4b4b4b;
}

/* --------- faq --------- */
#faq {
    background-color: #FCB500;
    height: 100%;
    width: 100%;
}


/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive*/
#faqItems {
    height: 15vw;
    width: 100%; 
}

#faq h2{
    font-family: Bungee Outline;
    font-size: 5vw;
    text-align: left;
    margin-top: 5%;
    padding: 4rem 3rem 1.5rem 4rem;
}

#faqItems a{
    max-width: 100%;
    height: 10vw;
    text-decoration: none;

}

#faqItems img{
    max-width: 100%;
    width: 100%;
    height: 10vw;
}

/* --------- terms --------- */
#terms{
    background-color: #FCB500;
}

/* --------- partners --------- */
#partners{

}

/* ------------------------ END of CONTENT ------------------------*/

/* ------------------------ footer ------------------------*/
#foot{

    background-color: #3e4444;
}

.location{
    padding: 2rem 4rem;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 20vw;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#department img{
    overflow: hidden;
    max-width: 90%;
    height: auto;
    position: left;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 15%;
}

#copyRight{
    background-color: #2c3131;
    color: lightslategray;
    height: 4%;
}

#copyRight p{
    font-family: Quicksand;
    font-size: .75vw;
    margin: 2% 0%;
    padding-left: 25%;
}

.foot img{
    max-width:25vw;
    height: auto;
    padding-bottom: 1rem;
}

/* ------------------------ tester ------------------------*/
.filler {
    border: 1rem solid gray;
    background-color: #454140;
    height: 20vw;
    width: 100%;
}

.redBorder{
    border: .5rem solid red;
}

.greenBorder{
    border: .5rem solid green;
}

.blueBorder{
    border: .5rem solid blue;
}



