/*---------------------fonts------------------------
font-family: 'Bungee Shade', cursive; <--title
font-family: 'Bungee', cursive; <--headers
font-family: 'Bungee Inline', cursive; <--headers
font-family: 'Bungee Outline', cursive; <--headers
font-family: 'Bungee Hairline', cursive; <--headers
font-family: 'Cabin', sans-serif; <-- paragraphs
font-family: 'Quicksand', sans-serif; <-- paragraphs
*/

/*---------------------responsive------------------------*/
/*Viewport is the browser window size. 1vw = 1% of viewport width.
If the viewport is 50cm wide, 1vw is 0.5cm.*/

html{
    font-size: 16px;
}

body{
    margin:0;
    position: relative;
}

main {
    height: 100%;
    overflow-y: scroll;

}

.sectionTitle h2{
    font-size: 6.5vw;
    text-align: center;
    /*margin-top: 5%;*/
    padding: 4rem 3rem 1.5rem 4rem;
}

.sectionText {
    font-size:1.5vw;
    font-family: Cabin;
}

#scroll2top{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-family: Cabin;
}

#scroll2top:hover {
    background-color: #555;
}

.hideButt {
    opacity:0;
}
.showButt {
    opacity:1;
}
/* ------------------------ Welcome ------------------------*/
#header {
    background-color: white;
    /*scaling*/
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 10%;
}

#title h1{
    /**color: rgb(53, 53, 53);
    font-family: Bungee Shade;
    font-weight: bold;
    font-size: 8vw;
    text-align: center;*/
}

#logo img{
    padding-top: 10%;
    max-width: 35%;
    height: auto;
    position: relative;
}
/* ------------------------ navbar ------------------------*/

#navBar{
    background-color: #454140f5;
}

#navItem{
    font-family: Quicksand;
    font-weight: bold;
    letter-spacing: 0.025em;
    font-size:1vw;
}

#navItem a {
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    width: 100%;
    height:100%;
}

#navItem a:hover{
    background-color: #111;
}

#navItem .nav-link.active {
  background-color: #000;
}

/* ------------------------ CONTENT ------------------------*/

/* --------- hack --------- */
#hack{
    background-color: rgb(53, 53, 53); /*rgb(247, 147, 65)*/
    color: white;
    height: 100%;
    width: 100%;
}

#hack h2 {
    font-family: Bungee Inline;
}

#hackText{
    padding: 5vw 3vw 8vw 0;
    vertical-align: middle;
}

#hackText p{
    width: 85%;
}

.countDown{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    vertical-align: middle;
}

#introInfo {
    font-family: Quicksand;
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;
}

#introInfo2 {
    font-family: Quicksand;
    font-size: 1.7vw;
    text-align: center;
    vertical-align: middle;
}
/* --------- cases --------- */
#cases{
    background-color: white;
    color: rgb(53, 53, 53);
    padding: 5rem 0rem;
}

#cases h2{
    font-family: Bungee;
}

#cases small{
    font-family: Bungee Hairline;
    font-size: 2vw;
}

#caseList {
    text-decoration: none;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    padding: 3rem 2rem 3rem 0;
}

#caseList ul{
    list-style-type: none; /*gets rid of bullet points*/
}
/* --------- team --------- */
#team {
    background-color: rgb(53, 53, 53); /*#009198*/
    color: white;
}

#teamText {
    width: 100%;
}

#teamText h2 {
    font-family: Bungee Inline;
    /*margin-left: 20%;*/
    text-align: center;
}

#teamTextInfo{
    text-align: left;
    width: 80%;
    padding: 5vw 3vw 8vw 0;
}

#teamSection{
    margin: 7% auto 0 auto;
}

#teamSection h5{
    font-size: 1rem;
}

#teamSection a {
    height: 15vw;
}

#carouselSection, #teamPic {
    height: 23vw;
}

.slide-container{
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
}

.slide-content{
    width: 33%;
    padding: 10px;
}

.img-desc{
    text-align: center;
    margin-top: 20px;
}

#teamPic img {
    max-width: auto;
    border-radius: 50%;
    margin: auto;
    margin-top: auto;
    height: 15vw;
    object-fit: cover;
}

#teamPicNames {
    font-weight: bold;
    color: #4b4b4b;
}

table{
  width: 100%;
  align: center;
}

td img{
  max-width: 100%;
  max-height: 150px;
  flex: 50%;
  padding: 15px;
  margin:10px;
  align-items: center;
}



/* Responsive Styles */

@media(max-width:991px) {
    .d-none {
        display: block !important;
    }

}

@media(max-width:767px) {

    #teamPic {
        height: auto;
    }

    #carouselSection {
        height: 100%;
    }

    .d-none {
        display: block !important;
        position: relative;
        text-align: center;
        left:3%;
        font-size: 0.5em;
    }
}

/* --------- faq --------- */
#faq {
    background-color: rgb(53, 53, 53); /*#FCB500*/
    color: white;
    height: 100%;
    width: 100%;
}

#faqItems {
    height: 15vw;
    width: 100%;
}

#faq h2{
    font-family: Bungee;
}

#faqSection{
    padding: 3rem 0 8rem 0;
}

.faqCards{
    max-width: 100%;
}

.faqCards h5{
    font-family:Cabin;
}

.faqCards p{
    font-family: Cabin;
}

#faqList{
    margin: 1rem 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#faq .sectionText a{
    font-size:1.25vw;
    font-family: Cabin;
}
/* --------- terms --------- */
#terms{
    background-color: white;
    color: rgb(53, 53, 53);
    padding-bottom: 5rem;
}

#terms h2{
    font-family: Bungee;
}

#termImportant{
    font-family: Cabin;
    font-weight: bold;

    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem 3rem 1.5rem 2rem;

    background-color: rgb(206, 206, 206);
    border-radius: .25rem;
}

#termList ol{
    font-family: Cabin;

    padding: 2rem 0;
}

#termList ol strong{
    color: rgb(241, 81, 81);
}

/* --------- register --------- */
#register{
    background-color: white;
}

#registration{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 35vw;
}

#registration img{
    max-width: 25vw;
    height: auto;
}

#registration a h2{
    font-family: Bungee;
    font-size: 4vw;;
    text-decoration: none;
    text-align: center;
    color: #FF8F36;
    margin-top: 5%;

    display: inline-block;
    margin: .25rem 0rem .25rem .125rem ;
    padding: .5rem .25rem;
    border-radius: 2%;
    border: 1rem solid #FF8F36;

}

#registration a h2:hover{
    border: 1rem solid #727272;
    color: #ea0000;
}

/* --------- partners --------- */
#partners {
    background-color: white;
    color: rgb(53, 53, 53);
}

#partnerText {
    width: 100%;
}

#partnerText h2 {
    font-family: Bungee Inline;
    /*margin-left: 20%;*/
    text-align: center;
}

#partnerTextInfo{
    text-align: left;
    width: 80%;
    padding: 5vw 3vw 5vw 0;
}

#partnerSection{
    height: 30vw;
    max-width: 60%;
    margin: 10% auto 0 auto;
}

#partnerSection a {
    height: 10vw;
}

#partnerSection, #partnerPic {
    height: 23vw;
}

#partnerPic img {
    max-width: 70%;
    height: 10vw;
    /*border-radius: 50%;*/
    margin: auto;
    margin-top: auto;
}

#partnerPicNames {
    font-weight: bold;
    color: #4b4b4b;
}

/* Responsive Styles */

@media(max-width:991px) {
    .d-none {
        display: block !important;
    }

}

@media(max-width:767px) {
    #partnerPic {
        height: auto;
    }

    #partnerSection {
        height: 100%;
    }

    .d-none {
        display: block !important;
        position: relative;
        text-align: center;
        left:3%;
        font-size: 0.5em;
    }
}

/* ------------------------ END of CONTENT ------------------------*/

/* ------------------------ footer ------------------------ */
#foot{

    background-color:rgb(53, 53, 53);
}

.footerContent{
    padding: 3rem 2.5rem 5rem 2.5rem;
}

.location{
    padding: 2rem 4rem;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 25vw;
}

#department img{
    overflow: hidden;
    max-width: 80%;
    height: auto;
}
/* ------------------------ quotes ------------------------ */
#quote strong{
    color: gray;
    font-family: Cabin;
    font-size: 1.8vw;
}

#quote p{
    color: white;
    font-family: Cabin;
    font-size: 1.5vw;
}
/* ------------------------ copyright ------------------------ */
#copyRight{
    background-color: #2c3131;
    color: lightslategray;
    height: 4%;
}

#copyRight p{
    font-family: Quicksand;
    font-size: .75vw;
    margin: 2% 0%;
    padding-left: 25%;
}

/* ------------------------ tools ------------------------*/

.red{
    color:rgb(240, 118, 118);
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sillyChild{
    flex-shrink: 0;
}

/* ------------------------ tester ------------------------*/
.redBorder{
    border: .5rem solid red;
}

.greenBorder{
    border: .5rem solid green;
}

.blueBorder{
    border: .5rem solid blue;
}

/* ------------------------ hell ------------------------*/
@media only screen and (max-width: 600px){
    #title h1{
        font-size: 45px;
    }
    #registration a{
        padding-left: 95px;
        text-align: end;
    }
    #registration img {
        display: none;
    }
    #registration a h2{
        border: .5rem solid #FF8F36;
    }
    #navItem{
        font-size: 15px;
        /*border: .5px solid rgb(218, 218, 218);*/
    }
    .sectionTitle h2 {
        font-size: 9vw;
    }
    .sectionText {
        font-size: 25px;
    }
    .countDown{
        font-size: 30px;
    }
    #introInfo{
        font-size: 18px;
    }
    #introInfo2{
        font-size: 14px;
    }
    #cases{
        padding: 2rem 0rem;
    }
    #cases small{
        font-family: Quicksand;
        font-size: 18px;
    }
    #caseList{
        font-size: 25px;
        text-align:center;
        vertical-align: center;
        padding: 0px 25px 0px 0px;
    }
    #faqSection{
        padding: 10px 0px 25px 0px;
    }
    #faq .sectionText a{
        font-size: 20px;
    }
    #faqList{
        font-size: 20px;
        max-width: 90%;
        left: 25px;
        text-align: center;
    }
    #termImportant{
        font-size: 20px;
        margin: 0;
        padding: 5px 10px;
        max-width: 90%;
        left: 15px;
    }
    #termList{
        font-size: 20px;
        max-width: 85%;
        padding: 15px 10px;
        left: 25px;
    }
    .location{
        height: 250px;
    }
    #department img{
        max-width: 70%;
        padding-top: 50px;
        padding-left: 100px;
    }
    #quote strong{
        font-size: 30px;
    }
    #quote{
        margin-top: 70px;
    }
    #quote p{
        font-size: 23px;
        max-width: 85%;
        text-align: center;
        padding-left: 30px;
    }
    #quote footer{
        text-align: center;
    }
    #copyRight{
        height: 100%;
    }
    #copyRight p{
        padding: 0;
        margin: 5px 0;
        text-align: center;
        font-size: 15px;

    }
}

@media only screen and (max-width: 570px){
    #title h1{
        font-size: 37px;
    }
    #registration a{
        padding-left: 80px;
        text-align: end;
    }
}

/* Override CSS */
.btn-outline-light{
    background-color: #0cc3c154;
    border-color: #000000;
}

.text-muted{
    color: #ababab!important;
}
#typed {
    font-size: 45px;
}

.typed-cursor {
    font-size: 45px;
    opacity: 1;
    -webkit-animation: blinker 1.2s linear infinite;
    animation: blinker 1.2s linear infinite;
}

@-webkit-keyframes blinker {
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

#title {
    text-align: center;
    width: 100%;
}
