.global-theme{
    background-color: black;
    color: white;
}

.global-title{
  font-family: 'IBM Plex Mono', monospace;
}

.global-subtitle{
    font-family: 'VT323', monospace;
}

.global-header{
    font-family: 'Space Mono', monospace;
}

.global-body{
    font-family: 'Open Sans', sans-serif;
}